@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  src: url("../font/roboto/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Bold";
  src: url("../font/roboto/roboto-bold.ttf") format("truetype");
}
