.app__option {
  background-color: transparent;
  font-size: 1rem;

  &.app__option--selected {
    padding: 0.4em;
    border-radius: 0.5em;
    font-family: "Roboto Bold";
  }

  &:first-child.app__option--selected {
    background-color: $dark-red;
  }

  &:nth-child(2).app__option--selected {
    background-color: $dark-green;
  }

  &:last-child.app__option--selected {
    background-color: $dark-blue;
  }
}
