.app__option {
  background-color: transparent;
  font-size: 1rem;

  &.app__option--selected {
    padding: 0.4em;
    border-radius: 0.5em;
    font-family: "Roboto Bold";

    &[data-theme="red"] {
      background-color: $dark-red;
    }

    &[data-theme="green"] {
      background-color: $dark-green;
    }

    &[data-theme="blue"] {
      background-color: $dark-blue;
    }
  }
}
